# Python virtual environments & bytecode
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Downloaded media files
*.mp3
*.webm
*.m4a
*.mp4
*.part
*.ytdl

# IDEs
.idea/
.vscode/
